body{
    font-family: sans-serif;
    background: url("../images/gh_tile.png") 0 0;
}/*end body*/

.title{
    text-align: center;
    color: #C0C0C0;
    border-bottom: 3px groove #C0C0C0;
    margin: 10px 0px;
    padding-bottom: 5px;
}/*end h1, h2, h3*/

.float-left{
    float: left;
    clear: left;
}/*end .float-left*/

.float-right{
    float: right;
    clear: right;
}/*end .float-right*/

.code{
    margin-top: 5px;
    width: 49%;
    background: url("../images/bg_tile.png") 0 0;
    border: 5px groove #FFFFFF;
    border-radius: 15px
}/*end #code*/

.source{
    width: 90%;
    padding: 5px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: .80em;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #000000;
    border: 5px groove #FFFFFF;
}/*end .source*/

.gh{
    background: url("../images/bg_tile.png") 0 0;
}/*end .gh*/

#gh-main{
    background: url("../images/gh_tile.png") 0 0;
}/*end #gh-main*/

#gh-right-panel .gh-panel-sub-header{
    text-align: center;
}/*end left-panel sub-header*/