body{
    font-family: sans-serif;
    background-color: darkgreen;
}/*end body*/

.title{
    color: #FFFFFF;
    border-bottom: 3px groove #FFFFFF;
    margin: 0px;
    padding-bottom: 5px;
}/*end h1, h2, h3*/

.float-left{
    float: left;
    clear: left;
}/*end .float-left*/

.float-right{
    float: right;
    clear: right;
}/*end .float-right*/

.source{
    width: 45%;
    color: #FFFFFF;
    font-size: .80em;
    white-space: pre-wrap;
    background-color: #353535;
    border: 5px groove #FFFFFF;
    padding: 10px;
}/*end .source*/

.gh{
    border: 5px groove #FFFFFF;
    border-radius: 15px;
    background: url("../images/bkg.png") 0 0;
}/*end #GREENHORN*/

#desc, #author{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}/*end #desc*/

#content{
    width: 95%;
    margin-top: 2.5em;
    margin-left: 1%;
    padding: 15px;
    background: url("../images/bkg.png") 0 0;
    display: inline-block;
    border: 5px groove #FFFFFF;
    border-radius: 15px
}/*end #content*/

#code{
    font-family: 'monospace';
    text-align: center;
    margin-bottom: 10px;
}/*end #content-title*/
